body {
    font-size: 13px;
    font-family: arial, sans-serif;
    color: black;
}
svg {
    display: block;
    height: 100%;
    width: 100%;
}
a:visited{
    color: black;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
input {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 24px;
    height: 36px;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    text-align: center;
    cursor: pointer;
}
/*IDs*/
#placeholder_top {
    top: 0px;
    height: 12px;
    /*outline: green solid 3px;*/
}
#top_elements {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
}
#ag_st {
    padding-left: 15px;
}
#Gm_Bi {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 0 1 auto;
    padding-right: 15px;
    align-items: baseline;
    line-height: 28px;
}
#GA_link {
    background-image: url('https://ssl.gstatic.com/gb/images/i2_2ec824b0.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    height: 30px;
    width: 30px;
    display:inline-block;
}
#bilder {
    padding-left: 15px;
}
#Rts {
    margin-left: auto;
    display: flex;
}
#GA_Anm {
    display: flex;
    flex-direction: row;
    
}
#GA {
    height: 30px;
    width: 30px;
    background-color: transparent;
}
#anm {
    padding: 0 12px;
    background-color: #4484f3;
    border: 1px solid #4484f4;
    font-weight: bold;
    color: white;
    height: 30px;
    text-align: left;
    line-height: 28px;
    border-radius: 2px;
    margin-right: 30px;
    margin-left: 15px;
}
/*IDs Main View*/
#main_logo_box {
    display: flex;   
    align-items: center;
    justify-content: center;
}
#sb_bu {
    width: 584px;
    margin: 0 auto;
    padding-top: 6px;
    margin-top: 30px;
}
#sb {
    border: lightgray solid 1px;
    border-radius: 24px;
    display: flex;
    background: white;
    height: 44px;
    margin: 0 auto;
}
#sb:hover {
    box-shadow: 0px 1px 6px 0px rgb(197, 197, 197) ;
}
#Lupe_box {
    display: flex;
    align-items: center;
    margin-left: 12px;
}
#Lupe {
    margin-top: 3px;
    color: #9AA0A6;
    height: 20px;
    width: 20px;
    fill: currentColor;
    display: inline-block;
    line-height: 24px;
    position: relative;
}
#buttons {
    width: 571px;
    height: 70px;
    padding-top: 18px;
}
